[Unit]
Description=service for dce-viewer app
After=multi-user.target

[Service]
Type=simple
Environment="PATH=/mnt/home/russell.burdt/miniconda3/condabin:/usr/bin"
ExecStart=\
    /mnt/home/russell.burdt/miniconda3/envs/dce-viewer/bin/bokeh serve \
    /mnt/home/russell.burdt/Lytx.AML.RussellB/aml/dce-viewer/prod \
    --port 5100 \
    --prefix /dce-viewer \
    --allow-websocket-origin 10.144.240.35

[Install]
WantedBy=multi-user.target
